h1{
	font-size: 50px;
	display: block;
	text-align: center;
}

h2{
	font-size: 30px;
	display: block;
	text-align: center;
}


.container{
	text-align: center;
	display: inline-block;
	background-color: #dcdcdc;
	border: 1px black solid;
	margin: 2px 2px 2px 2px;
}

form{
	text-align: center;
	display: inline-block;
	background-color: #dcdcdc;
	border: 1px black solid;
	margin-left: 500px;
	margin-right: auto;
}

.sign-in button:hover{
	background-color: teal;
}